.Card{
    width: 500px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid red;
}

.Title {
    background-color: blue;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.Content {
    background-color: red;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
}